li {
    .w-5 {
        max-width: 5%;
        width: 100%;
        float: left;

        input {
            float: left;
            max-width: 20px;
            margin-right: 15px;
            position: relative;
            top: -11px;
        }
    }

    .w-75 {
        max-width: 75%;
        width: 100%;
        float: left;

        span {
            position: relative;
            top: -4px;
            float: left;
        }
    }

    .w-20 {
        max-width: 20%;
        float: right;

        a {
            position: relative;
            top: -5px;
        }
    }
}