.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ec6f75;

    .container-left {
        height: 3rem;
        margin-top: 10px;

        h6 {
            color: white;
            margin-left: 12vw;
        }
    }

    .container-right {
        h6 {
            color: white;
            margin-right: 12vw;
        }
    }

}