.footer-container {
    background-color: #ec6f75;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-top: 10px;

    h6 {
        color: white;
    }
}