$color-orange: rgb(255 152 1);
$color-grey: rgb(118 118 118);
$light-blue: rgb(127 194 247);
$button-background: rgb(20 110 180);
$contact-green: rgb(44 221 152);
$contact-red: rgb(255 79 129);
$contact-blue: rgb(51 105 230);